<html>
    <head>
        <style>
            body {
                text-align: center;
                font-family: 'Times New Roman';
            }
        </style>
    </head>
    <body>
        <h1>Welcome</h1>
        <p>
            <!-- <a href=reset ><button class=grey>reset the paper trader</button></a> !-->
            <a href=profits ><button class=grey>calculate profits</button></a>
            <a href=return_csv ><button class=grey>return trade history</button></a>
        </p>
        <img src="{{ url_for('static', filename = 'crypto_ape.png') }}"/>
    </body>
</html>