<html>
    <head>
        <style>
            body {
                text-align: center;
                font-family: 'Times New Roman';
            }
        </style>
    </head>
    <body>
        <h1>Stonk Bot</h1>
        {% for strat, usdt in strats.items() %}
            <p>
                Total Asset ({{strat}}): ${{usdt}}
                <a href=profits/{{strat}}><button class=grey>Transactions</button></a>
                <a href=export/{{strat}}><button class=grey>Export CSV</button></a>
            </p>
        {% endfor %}
        <!--<h4>Total Asset: ${{total_usdt}}</h4>-->
        <p>
            <a href=export><button class=grey>Export All</button></a>
        </p>
        {% if random == 1 %}
        <img src="{{ url_for('static', filename = 'moon_soon.png') }}"/>
        {% elif random == 2 %}
        <img src="{{ url_for('static', filename = 'crypto_ape.png') }}"/>
        {% elif random == 3 %}
        <img src="{{ url_for('static', filename = 'bob_ross.png') }}"/>
        {% endif %}
    </body>
</html>